/* CAN THESE TWO BE COMBINED??!?!?!!?

/* opening image */
.image-container {
  background-image: url("../images/Rain032.jpg");
  background-size: cover; 
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 700px;
}

/* my name on opening image */
.text {
  background-color: rgba(255, 255, 255, 0.847);
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 5vw; /* Responsive font size */
  letter-spacing: 1px;
  margin: 0 auto; 
  padding: 30px;
  text-align: center; 
  position: absolute; 
  top: 50%; 
  left: 60%;
  /* add mobile response to change to 50% at certain width of phone !!!!!! */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

/* nav bar text */
.nav-link {
  font-family: 'Playfair Display', serif;
  color: darkolivegreen;
}
#labels {
  color: darkolivegreen;
}
.navbar-nav{
  color: darkolivegreen;
}
#home{
  color: darkolivegreen;
}
#spanid {
  color: darkolivegreen;
  font-family: 'Playfair Display', serif;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

/* title of each section */
#title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: #575C33;
}

hr {
  margin-bottom: 20px;
}

/* font family */
p {
  font-family: 'Frank Ruhl Libre', serif;
}

/* each section stylizing */
#about {
  background-color: rgba(208, 192, 157, 0.541);
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
#summary {
  font-family: 'Frank Ruhl Libre', serif;
  text-align: justify;
  font-size: 20px;
  color: #31261c;
}
#webPage {
  background-color: rgba(176, 187, 137, 0.555);
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
#artPage {
  background-color: rgba(216, 213, 201, 0.548);
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
#contactPage {
  background-color: rgba(126, 153, 111, 0.534);
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

/* cards */
.cards {
  margin-bottom: 50px;
  border-radius: 25px;
}
.card-title {
  color:  #31261c;
}
.card-text {
  color:  #31261c;
}
#cardbutton {
  background-color: white;
  color: #31261c;
}
.btn-primary {
  border-color: black;
}
.btn-primary:hover {
  border-color: black;
}
#card-img-top:hover {
  animation: shake 3s;
  animation-iteration-count: 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* skills div */
#skills {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  color: #6D5D49;
  font-family: 'Frank Ruhl Libre', serif;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
/* .container {
  width: 100%; 
  background-color: white; 
} */

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
.html {width: 90%; background-color: #808080;}
.css {width: 90%; background-color: #808080;}
.mysql {width: 70%; background-color: #808080;}
.js {width: 60%; background-color: #808080;}
.node {width: 60%; background-color: #808080;}


/* art portfolio div */
* { box-sizing: border-box; }

/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.element-item {
  position: relative;
  float: left;
  width: 300px;
  height: auto;
  margin: 5px;
  padding: 5px;
}
.element-item > * {
  margin: 0;
  padding: 0px;
}

#youtube {
  margin-bottom: 20px;
}

/* contact div */
#contactPage {
  text-align: center;
}
#contacticon {
 margin-bottom: 5px;
}
.contact {
  font-family: 'Frank Ruhl Libre', serif;
  margin-bottom: 30px;
  color: #31261c;
}
.contacttext {
  font-family: 'Frank Ruhl Libre', serif;
}
#contactlink {
  color:black;
  font-family: 'Frank Ruhl Libre', serif;
}
#contactlink a:hover {
  text-decoration: underline;
  color: darkolivegreen;
}

/* footer */
.page-footer {
  background-color: black;
  color: white;
  font-family: 'Frank Ruhl Libre', serif;
}